h1 Накрутить лайки
p
b На этой странице вы можете заказать накрутку лайков Coub.
p Правила размещения заданий:
p 1. Запрещено размещать задания со ссылками на материал, противоречащий закону Российской Федерации.
p 2. Запрещено давать задания на материалы, запрещенные Coub. К таким задания относятся группы с содержанием: порно, эротика, секс. Также запрещены группы со знакомствами для секса.
p 3. Запрещено размещать задания с материалами по накрутке Coub (реклама групп с услугами по накрутке, реклама записей с такими предложениями).
p 4. Запрещено размещать задания со ссылками на конкурентный ресурс.
p 5. Запрещено размещать задания на несуществующие материалы.
p 6. Запрещено накручивать комментарии к записям, к которым комментарии закрыты.
p 7. Запрещено выполнять задания, получать за них вознаграждения, а после этого удалять результаты выполнения задания (пример - вступить в группу, получить лайки, выйти из группы). За это вы получаете штраф.
p 8. Запрещено давать заданиям бессмысленные названия.
p 9. Запрещено ставить в накрутку частные группы (вступления в которые возможны только по приглашению администратора).
p 10. Запрещено пользоваться любыми уязвимостями сайта. Если вы нашли такую уязвимость, нужно как можно быстрее сообщить об этом администрации сайта.
p Все задания, которые нарушают правила, обнуляются. Также автор этих заданий получит бан на сайте!
p Чтобы просмотреть существующие задания и разместить новое, щелкните ссылку:
h2 = link_to 'Список заданий', controller: 'tasks'
